body {
    background: url(img/61u-n7fGzgL._AC_SL1000_.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }



h1{
background-color: lightseagreen;
color: white;
text-align: center;
margin-bottom: 0;
margin-left: 0;
padding-top: 15px;
padding-bottom: 15px;
font-family: Georgia, 'Times New Roman', Times, serif; 
}

.nav{
justify-content: flex-end;
padding-top: 15px;
padding-bottom: 15px;

}



h2{
color: lightseagreen;
margin-left: 10px;
font-family: Georgia, 'Times New Roman', Times, serif; 
}

a{
    color:white;
}

form{
    margin-left: 0;
}
.btn{
    background-color: lightseagreen;
}
footer{
    text-align: center;
     color: white;
     padding-top: 20px;
     padding-bottom: 20px;
     margin-top: 240px;
     margin-bottom: 0;
     
}