
body {
    background: url(img/61u-n7fGzgL._AC_SL1000_.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


h1{
    
    color: white;
    text-align: center;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;        
    }

.nav{
    justify-content: flex-end;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    font-style: italic;
    }

.nav-link{
    color: white;
}


h2{
    color: white;
    margin-left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

img{
    margin-bottom: 20px;
   
}

p{
    line-height: 30px;
    font-style: italic;
    font-weight: 500;
}
 footer{
     text-align: center;
     color: white;
     padding-top: 20px;
     padding-bottom: 20px;
     margin-top: 200px;
     margin-bottom: 0;

 }

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }