h1{
    background-color: lightseagreen;
    color: white;
    font-style: inherit;
    text-align: center;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav{
    justify-content: flex-end;  
}

main{
    background-color: honeydew;
}

h2{
    color: lightseagreen;
    margin-left: 10px;
}

a{
    color: gray;
}

form{
    margin-left: 0;
}
.btn{
    background-color: lightseagreen;
}
footer{
    text-align: center;
     color: white;
     padding-top: 20px;
     padding-bottom: 20px;
     margin-top: 240px;
     margin-bottom: 0;
     
}